<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
        <div class="card auth">
            <div class="card-body auth-card">
                <div class="auth-avatar">
                    <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
                </div>
                <form [formGroup]="passwordForm" (ngSubmit)="onFormSubmit()">
                    
                    <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval['oldPassword']['errors'] }" placeholder="Old Password"/>
                        <div *ngIf="submitted && fval['oldPassword']['errors']" class="invalid-feedback">
                            <div *ngIf="fval['oldPassword']['errors']['required']">Old Password is required</div>
                            <div *ngIf="fval['oldPassword']['errors']['minlength']">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval['newPassword']['errors'] }" placeholder="New Password"/>
                        <div *ngIf="submitted && fval['newPassword']['errors']" class="invalid-feedback"> 
                            <div *ngIf="fval['newPassword']['errors']['required']">New Password is required</div>
                            <div *ngIf="fval['newPassword']['errors']['minlength']">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval['confirmPassword']['errors'] }" placeholder="Confirm Password"/>
                        <div *ngIf="submitted && fval['confirmPassword']['errors']" class="invalid-feedback"> 
                            <div *ngIf="fval['confirmPassword']['errors']['required']">Confirm Password is required</div>
                            <div *ngIf="fval['confirmPassword']['errors']['minlength']">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <button [disabled]='loading' class="btn btn-my">
                        <span *ngIf='loading' class="spinner-border spinner-border-sm mr-1"></span>
                            Update
                        </button>
                        <a routerLink="/users" class="btn btn-link">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>