<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
        <div class="card auth">
            <div class="card-body auth-card">
                <div class="auth-avatar">
                    <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
                </div>
                <form [formGroup]="emailForm" (ngSubmit)="onNext()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': nextSubmitted && eval['email']['errors'] }" placeholder="Email"/>
                        <div *ngIf="nextSubmitted && eval['email']['errors']" class="invalid-feedback">
                            <div class="error-msg" *ngIf="eval['email']['errors']['required']">Email is required</div>
                            <div class="error-msg" *ngIf="eval['email']['errors']['email']">Enter valid email address</div>
                        </div>
                    </div>
                    <div *ngIf="!nextEnable" class="form-group">
                        <button [disabled]='loading' class="btn btn-my">
                        <span *ngIf='loading' class="spinner-border spinner-border-sm mr-1"></span>
                            Next
                        </button>
                        <a routerLink="/" class="btn btn-link">Login to continue</a>
                    </div>
                </form>
                <form *ngIf="nextEnable" [formGroup]="passwordForm" (ngSubmit)="onFormSubmit()">
                    
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval['password']['errors'] }" placeholder="Password"/>
                        <div *ngIf="submitted && fval['password']['errors']" class="invalid-feedback">
                            <div *ngIf="fval['password']['errors']['required']">Password is required</div>
                            <div *ngIf="fval['password']['errors']['minlength']">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval['confirmPassword']['errors'] }" placeholder="Confirm Password"/>
                        <div *ngIf="submitted && fval['confirmPassword']['errors']" class="invalid-feedback"> 
                            <div *ngIf="fval['confirmPassword']['errors']['required']">Confirm Password is required</div>
                            <div *ngIf="fval['confirmPassword']['errors']['minlength']">Confirm password must be at least 6 characters</div>
                        </div>
                    </div>
                    <label for="securityQuestion">Security Questions</label>
                    <div class="form-group">
                        <label for="answer1">{{this.questions[0].question}}</label>
                        <input type="text" formControlName="answer1" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval['answer1']['errors'] }" placeholder="Answer"/>
                        <div *ngIf="submitted && fval['answer1']['errors']" class="invalid-feedback">
                            <div *ngIf="fval['answer1']['errors']['required']">Answer is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="answer2">{{this.questions[1].question}}</label>
                        <input type="text" formControlName="answer2" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval['answer2']['errors'] }" placeholder="Answer"/>
                        <div *ngIf="submitted && fval['answer2']['errors']" class="invalid-feedback">
                            <div *ngIf="fval['answer2']['errors']['required']">Answer is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button [disabled]='loading' class="btn btn-my">
                        <span *ngIf='loading' class="spinner-border spinner-border-sm mr-1"></span>
                            Save
                        </button>
                        <a routerLink="/" class="btn btn-link">Login to continue</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>